.container {
    margin-top: 5rem;
}

.yellow {
    color: #FC9B00;
}

.title {
    margin: 1.5rem auto auto;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 5rem;
    font-weight: 500;
    line-height: 97%;
    letter-spacing: -2.4px;
    color: #2C323F;
}

.description {
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: -0.72px;
    color: #2C323F;
}
