.container {
    margin-top: 5rem;
}

.yellow {
    color: #FC9B00;
}

.title {
    margin: 1rem auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 4rem;
    font-weight: 500;
    line-height: 97%;
    letter-spacing: -2.4px;
    color: #2C323F;
}

.description {
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: -0.72px;
    color: #2C323F;
}

@media (max-width: 996px) {
    .heading {
        font-size: 2.5rem;
        line-height: 102%;
        letter-spacing: -1.2px;
        margin-bottom: 1rem;
    }
    .description {
        font-size: 1.125rem;
        line-height: 140%;
        letter-spacing: -0.54px;
        margin-bottom: 0;
    }
}
