.container {
    margin-top: 5rem;
}

.yellow {
    color: #FC9B00;
}

.title {
    margin: auto;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    font-size: 54px;
    font-weight: bold;
}