.container {
    position: relative;
    margin-left: 10%;
}

.chat {
    scale: .8;
}

.img1 {
    position: absolute;
    top: 40px;
    left: 220px;
}

.img2 {
    position: absolute;
    top: 240px;
    left: 0;
}

@media (max-width: 1440px) {
    .container {
        margin-left: 0%;
     }
}

@media (max-width: 960px) {
    .container {
        margin-left: 20%;
     }
}

@media (max-width: 840px) {
    .container {
       margin-left: 5%;
    }
}