.container {
    margin-top: 2rem;
}


.row {
    margin: 0;
    margin-top: 1.5rem;
    justify-content: center;
}

.cardContainer {
    position: absolute;
}

.card {
    position: relative;
    top: -143px;
    left: 488px;
}

.docBtn {
    padding-right: 0;
}

@media (max-width: 1440px) {
    .cardCol {
        flex: 0;
        width: auto;
    }
    .centerdRow {
        justify-content: center;
    }
    .cardsCol {
        display: flex;
        flex: auto;
        max-width: 884px;
        justify-content: space-between;
    }
}

@media (max-width: 1024px) {
    .docBtn {
        display: none;
    }
    .col {
        display: flex;
        justify-content: center;
        margin: auto 0;
        flex-direction: column;
        align-items: center;
    }
    .cardContainer {
        position: inherit;
        display: flex;
    }
    .cardsCol {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobileCenteredCol {
        flex: auto;
    }
    .card {
        position: inherit;
    }
    .mainContainer {
        display: flex;
        flex-direction: column;
    }
}
