.mainCard {
    margin-top: -1.5rem;
}

.card {
    position: absolute;
    top: 420px;
    left: 567px;
}

.col {
    margin-top: 1.5rem;
}

@media (max-width: 1440px) {
    .col {
        display: flex;
        justify-content: center;
    }
    .card {
        position: inherit;
        display: flex;
    }
    .mainCard {
        display: flex;
        margin-top: 0;
    }
}

@media (max-width: 840px) {
    .col {
       flex-direction: column;
       align-items: center;
    }
}