.mainCard {
    width: 884px;
    height: 327px;
    border-radius: 48px 48px 48px 0;
    padding: 48px;
    margin-top: .5rem;
    background: url('@site/static/img/HomePage/mainSection/mainCard/bg.svg') #E1E2E9 no-repeat;
}

.mainCardMobile {
    display: none;
}

.header {
    font-weight: 500;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -1.92px;    
    fill: #2C323F;
    margin-bottom: 24px;
}

.description {
    fill: #2C323F;
    font-weight: 400;
    font-size: 24px;
    line-height: 33.6px;
    letter-spacing: -.72px;
}

.btn {
    font-size: 24px;
    font-weight: 600;
    fill: #F6F6F6;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .container {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .mainCard {
        display: none;
    }
    .mainCardMobile {
        display: flex;
    }
    .container {
        display: flex;
    }
}
