.card {
    width: 388px;
    max-width: 388px;
    height: 330px;
    max-height: 330px;
    color: white;
    border-radius: 48px;
    margin-top: .5rem;
    position: relative;
}

.img {
    position: absolute;
    top: 0;
    left: 20px;
}

.icon {
    width: 64px;
    height: 64px;
    margin-top: 3rem;
    margin-left: .5rem;
}

.svg {
    position: absolute;
    top: 0;
    left: 158px;
}

.text {
    padding: 8rem 2.25rem 3rem 2.25rem;
}

.hText {
    padding: 2.5rem 2rem 1rem 2rem;
    color: black;
}

.hTitle {
    font-weight: 700;
    font-size: 1.7em;
}

.hDescription {
    font-size: 1em;
    color: grey;
}

.hBtn {
    margin: 0px 0px 15px 85px;
    width: 200px;
    height: 48px;
    border: 1px solid transparent;
    border-radius: 48px;
    background: #2C323F;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    color: #F6F6F6;
}

.hBtn:hover {
    background: #2C323F;
    color: #F6F6F6;
    transition: all 0.3s ease 0s;
}

.hBtn:active {
    background: #2C323F;
    color: #F6F6F6;
    transition: all 0.3s ease 0s;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -.72px;
    margin-bottom: 8px;
}

.description {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -.72px;
}

.antiRadiusContainer {
    position: absolute;
    width: 48px;
    height: 48px;
    background: #E1E2E9;
    left: -.5rem;
    top: -.5rem;
    z-index: -1;
}

.antiRadius {
    position: relative;
    width: 48px;
    height: 48px;
    border-top-left-radius: 48px;
    background-color: var(--ifm-background-color);
}

@media (max-width: 1024px) {
    .antiRadiusContainer {
        display: none;
    }
}

@media (max-width: 425px) {
    .svg {
       display: none;
    }
}